// BODY STYLES
// p b s t

.content{
	margin-top: 2.5%;
	
	.content-block{
		float: left;

		min-height: 300px;
		margin: 0 0 2.5% 2.5%;
		width: 100%;
		max-width: 46%;
		
		border: 1px solid #ccc;


	}

}